@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "MontserratSubrayada-Regular";
	src: url("../fonts/MontserratSubrayada-Regular.ttf");
}

@font-face {
	font-family: "Montserrat-Medium";
	src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "RedHatDisplay-Regular";
	src: url("../fonts/RedHatDisplay-Regular.ttf");
}

@font-face {
	font-family: "Kanit-Regular";
	src: url("../fonts/Kanit-Regular.ttf");
}

@font-face {
	font-family: "Sen-Regular";
	src: url("../fonts/Sen-Regular.ttf");
}

@font-face {
	font-family: "RobotoSlab-Regular";
	src: url("../fonts/RobotoSlab-Regular.ttf");
}

:root {
	--brown: #3d3333;
	--darkgrey: #33343d;
	--red: #e9204f;
	--light_red: #ff6c6c;
	--violet: #8e1aab;
	--indigo: #3c6478;
	--grey: #c0c0c0;
}

html {
	margin: 0;
	padding: 0;
	background: var(--darkgrey);
	min-width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: var(--darkgrey);
}

#footer {
	@apply grid grid-rows-6;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: black;
	@apply text-center text-white;
	margin-top: 40px;
}

#footer-container {
	@apply row-span-5;
	@apply grid grid-cols-12;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 75px;
	margin-bottom: 25px;
}

#web-brand {
	@apply col-span-4;
	@apply grid-rows-2;
	@apply flex flex-col items-start justify-items-center;
}

#web-logo {
	@apply flex flex-row items-center;
}

#web-footer-logo-img {
	@apply block;
	width: 100px;
	height: 100px;
}

#web-footer-logo-name {
	font-family:  "RedHatDisplay-Regular", sans-serif;
	@apply text-5xl;
	margin-left: 20px;
}

#web-footer-slogan {
	font-family: "RobotoSlab-Regular", sans-serif;
	@apply text-2xl;
	margin-left: 120px;
	margin-top: 10px;
}

#web-contact-info {
	@apply col-span-4;
	@apply grid grid-rows-4 gap-4;
	@apply flex flex-col items-start;
	@apply text-xl;
	font-family: "Kanit-Regular", sans-serif;
}

#contact-info-header {
	font-family: "RobotoSlab-Regular", sans-serif;
	@apply text-3xl;
	margin-left: auto;
	margin-right: auto;
}

#more-information {
	font-family: "MontserratSubrayada-Regular";
	@apply flex flex-col items-start;
	@apply col-span-4;
	@apply grid grid-rows-2 gap-4;
	@apply text-3xl;
}

.each-row {
	@apply grid grid-cols-2 gap-6;
	@apply text-left;
}

#copyright {
	font-family: "Sen-Regular", sans-serif;
	@apply row-span-1;
	margin-left: auto;
	margin-right: auto;
	color: white;
	@apply text-3xl;
}

#search-bars-container {
	@apply flex;
	@apply xl:flex-row xl:justify-center;
	@apply lg:flex-row lg:justify-center;
	@apply mx-5;
}

.each-search-bar {
	@apply text-white;
	@apply md:justify-self-center;
}

.form {
	@apply mx-5 my-3 !important;
	@apply flex flex-row;
}


.search-bar-title, .dropdown-title {
	font-family:  "RedHatDisplay-Regular", sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 35px;
	margin-right: 10px;
}

.search-icon {
	color:white;
	@apply absolute;
	line-height: 30px;
	margin-left: 275px;
	@apply cursor-pointer;
}


.search-field {
	font-family:  "RedHatDisplay-Regular", sans-serif;
	font-weight: 300;
	font-style: italic;
	border: solid 1px white !important;
	@apply rounded-lg !important;
	@apply text-white;
	@apply w-72 h-8 !important;
	text-indent: 10px;
	padding-right: 30px !important;
}

.select {
	font-family:  "RedHatDisplay-Regular", sans-serif;
	font-weight: 300;
	font-style: italic;
	@apply text-black;
	@apply w-72 !important;
	text-indent: 10px;
}

.each-selection {
	@apply w-72	 h-8;
	@apply mx-5 my-3 !important;
	@apply flex flex-row;
}


#tag-list {
	@apply flex flex-row flex-wrap;
}

#tag-section {
	@apply flex flex-row justify-center;
}

.tag-button {
	@apply inline-flex flex-row justify-center content-center;
	background-color: transparent;
	@apply rounded-full;
	border: 1px solid white;
	color: white;
	@apply text-lg;
	padding: 5px 10px 5px 20px;
	margin: 30px 12px 15px 12px;
	@apply cursor-pointer;
}

.tag-button:active, .tag-button:hover {
	background-color: white;
	color: black;
}


.tag-content {
	margin-right: 10px;
	line-height: 25px;
}

.remove-tag-icon {
	line-height: 20px;
}

#add-tag-button {
	color: white;
	@apply cursor-pointer;
	margin: 30px 0px 12px;
	@apply self-center;
}

.manga-list {
	@apply flex flex-row flex-wrap justify-center px-20;
}
.manga-preview-container {
	@apply md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-2 py-2;
	@apply w-full;
	@apply relative z-10;
}
.manga-preview-info {
	@apply max-w-sm px-1 rounded overflow-hidden;
	background-color: var(--darkgrey);
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
	transition: transform 250ms;
}

.manga-preview-info:hover, .manga-preview-info:active{
	transform: translateY(5px);
}

.manga-preview-image {
	@apply w-80 h-64;
}

.manga-preview-title {
	@apply font-bold text-xl text-white pt-2 px-2 truncate;
}

.flex-container {
	@apply pb-2 text-white;
}
.manga-preview-latest-update, .manga-preview-latest-chapter {
	@apply inline-block px-2 text-sm font-semibold mr-2 mb-2;
}
.manga-preview-latest-update {
	@apply relative -right-40;
}

#tag-window {
	@apply absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -75%);
	background-color: var(--darkgrey);
	@apply z-50;
}

#tag-window:target {
	@apply visible block;
}

#tag-window-content {
	@apply flex flex-col;
	background-color: var(--darkgrey);
	margin: 0 auto;
	width: 75vw;
	@apply relative;
	z-index: 1px;
	top: 25%;
	padding: 30px;
	box-shadow:0 0 10px rgba(0,0,0,0.25);
	font-family:  "RedHatDisplay-Regular", sans-serif;
}

#close-window-button {
	@apply absolute;
	top: 0%;
	right: 0%;
	margin-top: 10px;
	margin-right: 10px;
	color: white;
	@apply cursor-pointer;
}

#search-tag {
	border: solid 1px white;
	width: 100%;
	@apply rounded-full;
	margin-top: 40px;
	text-indent: 40px;
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	color: white;
}

#tag-container {
	width: 100%;
}

.tag-button-initial {
	@apply inline-flex flex-row justify-center content-center self-center;
	background-color: transparent;
	@apply rounded-full;
	border: 1px solid white;
	color: white;
	@apply text-lg;
	padding: 5px 10px 5px 20px;
	margin: 30px 12px 0px 12px;
	@apply cursor-pointer;
}

.tag-button-initial:active, .tag-button-initial:hover {
	background-color: white;
	color: black;
}

#option-buttons-container {
	@apply flex flex-row justify-end;
	font-family:  "RedHatDisplay-Regular", sans-serif;
}


#apply-button {
	width: 160px;
	height: 54px;
	color: white;
	background-color: #6C8DFF;
	border: solid 1px transparent;
	@apply cursor-pointer;
	padding: 0 auto;
	@apply flex items-center justify-center;
	@apply rounded-2xl;
	margin-right: 30px;
}

#cancel-button {
	width: 160px;
	height: 54px;
	color: white;
	background-color: transparent;
	border: solid 1px white;
	@apply cursor-pointer;
	@apply flex items-center justify-center;
	@apply rounded-2xl;
}

#invisible-layout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}