@font-face {
	font-family: "GlowSanSC";
	src: url("../fonts//GlowSansSC-Normal-Regular.otf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Montserrat-Medium";
	src: url("../fonts/Montserrat-Medium.ttf");
}

* {
	font-family: "Montserrat-Regular";
}

.container-90 {
	padding-left: 5%;
	padding-right: 5%;
}
.max-w-70rem{
	max-width: 70rem;
}
input[type=text] {
    border-bottom: 0px !important; 
	margin: 0 0 0 0 !important;
}
input[type=password]{
	border-bottom: 0px !important;
	margin: 0 0 0 0 !important;
}
input[type=text]:focus {
  border-bottom: none !important;
  box-shadow: none!important;
}
input[type=password]:focus {
  border-bottom: none !important;
  box-shadow: none!important;
}
input[type=search] {
    border-bottom: 0px !important; 
	margin: 0 0 0 0 !important;
}
input[type=search]:focus {
  border-bottom: none !important;
  box-shadow: none!important;
}
input[type=email] {
    border-bottom: 0px !important; 
	margin: 0 0 0 0 !important;
	width: 250px !important;
}
input[type=email]:focus {
  border-bottom: none !important;
  box-shadow: none!important;
}
.dropdown:hover .dropdown-menu {
  display: block !important;
}